@import '../Variabless.scss';

/*------------------ *\
|    Categories
\*------------------*/
.categories{
  &__title {
  background: $color-principal;
  color: $color-claro;
  font-size: 16px;
  margin-top: -16px;
  position: relative;
  padding-left: 30px;
  width: 100%;
  }
}