@media only screen and (max-width: 600px) {
  .main {
    &__description {
      &--title {
        font-size: 30px;
      }
    }
  }

  .login {
    &__container {
      background-color: transparent !important;
      border          : none !important;
      box-shadow      : none !important;
      padding         : 0px !important;
      width           : 100% !important;
    }
  }

  .footer {
    align-items   : flex-start;
    flex-direction: column;
  }
}