/*------------------ *\
|    Variables
\*------------------*/

@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$color-principal: #8f57fd;
$color-claro    : #fff;
$fuente-principal: 'Muli',
sans-serif;
